# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 数据
bgm_anime_cleaned.csv
bgm_anime.csv
user_now.csv
bgm_anime_cleaned.rar
bgm_anime.rar

.vscode
*.code-workspace
.idea

# 文件
html_example
bgm_error.txt
git_command.txt
git.sh

#文件夹
archive
notebook